* {
    margin: 0;
    padding: 0;
    font-family: Cabin;
    transition: 0.25s;
}

@keyframes fadeIn
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1
{
    font-family: Cabin;
    font-size: 3rem;
    margin-bottom: 3rem;
    animation: fadeIn 2s;
}

p
{
    font-family: Taviraj;
    font-size: 1.5rem;
    animation: fadeIn 2s;
}

nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(91, 114, 93);
    margin: 0;
    padding: 0;
}

nav ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 4rem;
}

nav ul li
{
    margin: 1rem;
}

nav ul li a
{
    display: flex;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    animation: fadeIn 2s;
}

nav ul li a:hover
{
    color: rgb(183, 183, 183);
}

.logo
{
    text-align: center;
    border-radius: 100rem;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 100px;
    height: 100px;
}

.logo-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container a
{
    transition: 1s;
}

.logo-container a:hover
{
    transform: translateY(2rem);
}

path
{
    fill: transparent;
}
text
{
    fill: white;
    font-size: 2.9rem;
}

.cta 
{
    padding: 7rem;
    background: url("img/cta-background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.cta-about
{
    padding: 7rem;
    background: no-repeat center center fixed;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url("img/shelter.jpeg");
    background-size: cover;
    background-repeat:  no-repeat;
    color: white;
}

.cta-about p
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cta h1
{
    font-size: 3rem;
}

.cta p
{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.martha
{
    max-width: 100%;
}

button
{
    animation: fadeIn 2s;
}

.cta-button
{
    background-color: rgb(35, 88, 37);
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    color: white;
    stroke: none;
    padding: 2rem;
}

.cta-button:hover
{
    background-color: black;
}

#donate-button
{
    background-color: rgb(236, 137, 17);
    padding: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.selected
{
    padding: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: solid;
    border-color: white;
    border-width: .5rem;
}

#donate-button:hover
{
    background-color: rgb(178, 89, 0);
}

.img-logo
{
    background-color: rgb(57, 81, 57);
    padding: 2rem;
    border-radius: 2rem;
}

.mission
{
    margin: 0 auto;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.mission p
{
    margin-bottom: 3rem;
}

.announcements
{
    text-align: center;
}

.ann-grid
{
    display: flex;
    background-color: rgb(182, 202, 152);
    padding: 5rem;
}

.ann-item
{
    color: white;
    background-color: rgb(77, 115, 77);
    padding: 5rem;
}

.ann-item h3
{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.ann-item img
{
    margin-top: 2rem;
}

.featured-kitty
{
    padding: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-kitty img
{
    border-radius: 10rem;
}

.featured-kitty h3
{
    background-color: rgb(241, 75, 75);
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

.featured-kitty h1
{
    margin-top: 2rem;
}

.featured-kitty p
{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

footer
{
    text-align: center;
    justify-content: center;
    padding: 10rem;
    background-color: rgb(91, 114, 93);
    display: flex;
    gap: 10rem;
    color: white;
}

footer ul
{
    list-style: none;
}

.newsletter
{
    margin-bottom: 2rem;
    font-size: 2rem;
    padding: 1rem;
}

ol
{
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

footer ul li
{
    padding: 1rem;
    background-color: rgb(95, 164, 127);
}

footer ul li:hover
{
    background-color:rgb(91, 114, 93)
}

footer ul li a
{
    color: white;
    padding: 1rem;
    text-decoration: none;
}